@import url('../variables.css');

div.header {
  width: var(--width);
  min-width: var(--min-width);
  font-size: 1.2em;
  margin-bottom: 5px;
  opacity: 0;
}

.active {
  transition: opacity 500ms ease-in;
  opacity: 1 !important;
}
