/*@import url('https://fonts.googleapis.com/css?family=Raleway:100');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');*/

@font-face {
  font-family: "Font-Regular";
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }
@font-face {
  font-family: "Font-Thin";
  src: url("../fonts/Raleway/Raleway-Thin.ttf"); }
@font-face {
  font-family: "Font-Bold";
  src: url("../fonts/Raleway/Raleway-Bold.ttf"); }
  @font-face {
    font-family: "Font-Light";
    src: url("../fonts/Raleway/Raleway-Light.ttf"); }

:root {
    --width: 600px;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Font-Light', sans-serif;
    letter-spacing: 0.1em;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100%;
    font-weight: 200;
    text-align: left;
    margin: 0;
}

#header-text {
    transition: opacity 0.25s;
}

input {
    font-size: 175%;
    border-style: none none solid none;
    border-bottom-width: thin;
    border-bottom-color: #e6e6e6;
    outline: none;
    width: 100%;
    padding: 0.1em;
    opacity: 0;
    transition: opacity 0.75s;
}

#search-bar {
    width: var(--width);
}

#about, #projects {
    width: var(--width);
    opacity: 0;
    max-height: 0;
}

#resume {
    width: 100%;
    opacity: 0;
    max-height: 0;
    height: 80%;
    transition: max-height 1s, opacity 0.5s;
}

.expand {
    opacity: 1 !important;
    max-height: 100% !important;
    transition: max-height 2s, opacity 2s;
}

#about:not(.expand), #projects:not(.expand) {
    transition: max-height 1s, opacity 1s;
}

.expand-resume {
    opacity: 1 !important;
    max-height: 100% !important;
}

#resume:not(.expand-resume){

}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#cursor {
    font-weight: 100;
    animation: blink 0.75s step-end infinite;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

*::selection {
    background-color: black;
    color: white;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

iframe {
    height: 100%;
    width: 100%;
    border-style: none;
    transform: scaleY(0.9);
}
