@font-face {
    font-family: "Raleway-Light";
    src: url("../fonts/Raleway-Light.ttf");
}

@media only screen and (min-width: 993px) {
    :root {
        --width: 800px;
    }

    h1{
      font-size: 110% !important;
    }

    h2{
      font-size:150% !important;
    }

    input{
      font-size: 180% !important;
    }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
    :root {
        --width: 700px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
     :root {
        --width: 600px;
    }
}

@media only screen and (max-width: 480px) and (min-width: 0) {
    :root {
        --width: 350px;
    }
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Raleway-Light';
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


/*header related styling*/

h1 {
    font-size: 100%;
    text-align: left;
    margin: 0;
    font-weight: normal;
    letter-spacing: 0.1em;
}

#header-text {
    transition: opacity 0.25s;
}


/*search bar related styling*/

input {
    font-size: 160%;
    border-style: none none solid none;
    border-bottom-width: thin;
    border-bottom-color: #e6e6e6;
    outline: none;
    width: 100%;
    padding: 0.1em;
    opacity: 0;
    text-overflow: ellipsis;
    transition: opacity 0.75s;
}

#search-bar {
    width: var(--width);
}


/*about & projects section related styling*/

h2 {
    font-weight: normal;
    font-size: 140%;
    margin-bottom: 5px;
}

#about, #projects {
    width: var(--width);
    opacity: 0;
    max-height: 0;
    display: none;
}

.show{
  display: block !important;
}
.expand {
    opacity: 1 !important;
    max-height: 100% !important;
    transition: max-height 2s, opacity 2s;
}

#about:not(.expand), #projects:not(.expand) {
    transition: max-height 1s, opacity 1s;
}

p{
  margin: 0;
}

hr{
  color: #e6e6e6;
  width: 200px;
  margin-top: 15px;
  border: none;
  border-top: 1px solid;
}

/*resume section related styling*/

#resume {
    width: 100%;
    opacity: 0;
    max-height: 0;
    height: 80%;
    transition: max-height 1s, opacity 0.5s;
}

.expand-resume {
    opacity: 1 !important;
    max-height: 100% !important;
}

#resume:not(.expand-resume) {}

iframe {
    height: 100%;
    width: 100%;
    border-style: none;
    transform: scaleY(0.9);
}

h3{
  font-size: 125%;
  text-align: center;
  margin: 0;
}

a{
  text-decoration: none;
  display: inline-block;
  color: black;
}

a:after{
  content:'';
  display: block;
  margin: auto;
  width: 0%;
  height: 1px;
  background: transparent;
  transition: background 0.125s, width 0.125s;
}

a:hover:after{
  background: black;
  width:100%;
}

a:visited{
  color: black
}

/*cursor related styling*/
@keyframes blink {
    50% {
        opacity: 0;
    }
}

#cursor {
    font-weight: 100;
    animation: blink 0.75s step-end infinite;
}

/*misc. styling*/
.fade-in {
    opacity: 1 !important;
}

.fade-out {
    opacity: 0;
}

*::selection {
    background-color: black;
    color: white;
}
