.enter {
  opacity: 0;
  max-height: 0;
}

.enterActive {
  opacity: 1;
  max-height: 75vh;
  transition: all 1250ms;
}

.enterActiveResume {
  opacity: 1;
  max-height: 75vh;
  transition: all 750ms;
}

.exit {
  opacity: 1;
  max-height: 75vh;
}

.exitActive {
  opacity: 0;
  max-height: 0;
  transition: all 1000ms;
}
