.enter {
  opacity: 0;
  max-height: 0;
}

.enterActiveAbout {
  opacity: 1;
  max-height: var(--max-height);
  transition: all 1100ms;
}

.enterActive {
  opacity: 1;
  max-height: var(--max-height);
  transition: all 850ms;
}

.exit {
  opacity: 1;
  max-height: var(--max-height);
}

.exitActive {
  opacity: 0;
  max-height: 0;
  transition: all 950ms;
}
