main:has(iframe) {
  overflow: hidden;
}

iframe {
  min-width: 100vw;
  height: 50vh;
  --webkit-overflow-scrolling: touch;
  border: none;
}

iframe ~ div {
  font-size: 1.3rem;
  text-align: center;
}
