iframe {
  min-width: 100vw;
  height: 60vh;
  border: none;
  overflow: auto;

  @media (max-width: 640px) {
    height: 40vh;
  }
}

h3 {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}
