nav {
  width: 100%;
}
input {
  width: 100%;
  font-size: 1.75rem;
  border-color: #e6e6e6;
  border-style: none none solid none;
  border-width: thin;
  outline: none;
  opacity: 1;

  transition: opacity 850ms ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
