nav {
  width: 100%;
}
input {
  width: 100%;
  font-size: 1.75rem;
  border-color: #e6e6e6;
  border-style: none none solid none;
  border-width: thin;
  outline: none;
  opacity: 1;

  transition: all 850ms;
}
@media (max-width: 640px), (max-width: 900px) and (orientation: landscape) {
  input {
    font-size: 1.4rem;
  }
}

.hidden {
  opacity: 0;
}
