---
import Button from "../components/Button.astro";
---

<style>
  @font-face {
    font-family: "BB";
    src: url("/fonts/BB-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "BB";
    src: url("/fonts/BB-CondBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  :root {
    --text-shadow-color: rgba(114, 117, 120, 0.1);
  }
</style>

<script>
  if (import.meta.env.PROD) {
    setTimeout(() => alert("Your browser is now mining crypto 🤡"), 5000);
  }
  const video = document.querySelector("video");

  if (video) {
    const applyRandomPlaybackRate = () => {
      setTimeout(
        () => {
          video.playbackRate = Number((5 * Math.random()).toFixed(1));
          applyRandomPlaybackRate();
        },
        Math.round(Math.random() * 750)
      );
    };

    applyRandomPlaybackRate();

    const applyRandomEffect = (effects: string[], lastRandomEffect = "") => {
      setTimeout(
        () => {
          video.className = video.className.replace(lastRandomEffect, "");

          lastRandomEffect =
            effects[Math.floor(Math.random() * effects.length)];

          if (lastRandomEffect !== "") {
            video.classList.add(lastRandomEffect);
          }

          applyRandomEffect(effects, lastRandomEffect);
        },
        Math.round(Math.random() * 500)
      );
    };
    applyRandomEffect([
      "",
      "invert",
      "grayscale",
      "scale-x-[-1]",
      "scale-y-[-1]",
    ]);
  }

  const heroContent = document.getElementById("hero-content");

  const updateTranslation = () => {
    if (heroContent && video) {
      const rect = video.getBoundingClientRect();
      const viewportHeight = window.innerHeight;

      // Calculate the amount the video is outside the viewport
      const amountOutOfView = Math.max(
        0,
        rect.top < 0 ? -rect.top : rect.bottom - viewportHeight
      );

      // Apply the translation to the h2 element
      heroContent.style.transform = `translateY(-${amountOutOfView * 0.5}px)`;
    }
  };

  // Update the translation when scrolling or resizing
  window.addEventListener("scroll", updateTranslation);
  window.addEventListener("resize", updateTranslation);
  updateTranslation(); // Initial call to set the translation
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1"
    />
    <title>高 (暁/晓)裕 | iknowhtml | (1993-2140) | Aki Gao | Xiaoyu Gao</title>
    <meta
      name="description"
      content="Aki Gao is Staff Software Engineer with 8+ years of experience with a passion for solving difficult technical problems, delivering delightful products, and leading high performing engineering teams. Aki also ❤️s Balenciaga."
    />
    <meta
      name="keywords"
      content="aki gao, aki, gao, xiaoyu, akihiro, xiaoyu gao, staff, software engineer, web3, blockchain, cryptocurrency, balenciaga"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://www.balenciaga.com/on/demandware.static/Sites-BAL-R-NOAM-Site/-/default/dw84447b7c/images/favicons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://www.balenciaga.com/on/demandware.static/Sites-BAL-R-NOAM-Site/-/default/dw178de291/images/favicons/favicon-48x48.png"
      sizes="48x48"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://www.balenciaga.com/on/demandware.static/Sites-BAL-R-NOAM-Site/-/default/dw314ab939/images/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://www.balenciaga.com/on/demandware.static/Sites-BAL-R-NOAM-Site/-/default/dwa1b36222/images/favicons/favicon-128x128.png"
      sizes="128x128"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://www.balenciaga.com/on/demandware.static/Sites-BAL-R-NOAM-Site/-/default/dwbbdf5cc6/images/favicons/favicon-196x196.png"
      sizes="196x196"
    />

    <meta name="apple-mobile-web-app-title" content="Balenciaga" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://www.balenciaga.com/on/demandware.static/Sites-BAL-R-NOAM-Site/-/default/dw07dd2dab/images/favicons/favicon-180x180.png"
    />
  </head>
  <body>
    <main class="h-screen overflow-clip">
      <h1
        class="font-bold
      uppercase text-[22px] py-[5px] text-center tracking-wider border-b-[1px]
      border-b-black"
      >
        <a href="https://www.balenciaga.com/">21ciaga</a>
        <span class="hidden">Aki Gao</span>
      </h1>
      <h2
        class="font-bold uppercase text-center text-[18px] md:text-[24px] py-[30px] md:py-[60px]
      tracking-wider"
      >
        高 (暁/晓)裕 | iknowhtml | (1993-2140)
      </h2>
      <div class="relative h-full">
        <video
          src="/media/no-one-knows-what-it-means.webm"
          autoplay
          playsinline
          loop
          muted
          class="h-full w-full object-cover"></video>
        <div
          id="hero-content"
          class="absolute flex
      flex-col items-center justify-center inset-0 gap-4 object-cover"
        >
          <h2
            class="uppercase text-white text-xl px-8 lg:p-0 md:text-3xl text-center"
            style="text-shadow: -1px -1px 0
      var(--text-shadow-color), 1px -1px 0 var(--text-shadow-color), -1px 1px 0
      var(--text-shadow-color), 1px 1px 0 var(--text-shadow-color);"
          >
            "No one knows what it means, but it's provocative,"
          </h2>
          <div class="flex gap-4">
            <Button href="https://www.linkedin.com/in/iknowhtml"
              >LinkedIn</Button
            >
            <Button href="https://www.github.com/iknowhtml">Github</Button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
