@font-face {
  font-family: Raleway;
  src: url('./Raleway-Light.ttf');
}
html {
  font-family: Raleway, serif;
  color: #333333;
}

html,
body,
:global(#app) {
  height: 100%;
}

body {
  margin: 0;
}

*::selection {
  color: white;
  background-color: black;
}

div.container {
  height: 100%;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
