@font-face {
  font-family: Raleway;
  src: url('./Raleway-Light.ttf');
}

:root {
  --width: 50vw;
  --min-width: 550px;
}

html {
  font-family: Raleway, serif;
  color: #333333;
}

html,
body,
:global(#app) {
  height: 100%;
}

body {
  margin: 0;
}

div.container {
  height: 100%;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.header {
  width: var(--width);
  min-width: var(--min-width);
  font-size: 1.2em;
  margin-bottom: 5px;
}

input.searchBar {
  width: var(--width);
  min-width: var(--min-width);
  font-size: 1.75em;

  border: none;
  border-bottom: solid #e6e6e6 1px;

  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;

  &:focus {
    outline: none;
  }
}

.hide {
  visibility: hidden !important;
  opacity: 0 !important;
}
