header {
  width: 100%;
  margin-bottom: 0.3rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 300;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: all 300ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: all 300ms;
}
