---
export interface ButtonProps {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="text-xs flex justify-center items-center uppercase bg-white text-black tracking-wider w-[140px] h-[40px] border-black rounded-md border-solid border-[1px]"
  href={href}
>
  <slot />
</a>
