div.home {
}

input.searchBar {
  width: 50vw;
  min-width: 550px;
  font-size: 1.75em;

  border: none;
  border-bottom: solid #e6e6e6 1px;

  &:focus {
    outline: none;
  }
}

div.mainHeader {
  font-size: 1.2em;
  margin-bottom: 0.1em;
}
