:root {
  --width: 50vw;
  --min-width: 550px;
}

input.searchBar {
  width: var(--width);
  min-width: var(--min-width);
  font-size: 1.75em;

  border: none;
  border-bottom: solid #e6e6e6 1px;

  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;

  &:focus {
    outline: none;
  }
}

.hide {
  visibility: hidden !important;
  opacity: 0 !important;
}

div.mainHeader {
  width: var(--width);
  min-width: var(--min-width);
  font-size: 1.2em;
  margin-bottom: 5px;
}
